In [33]:
import numpy as np 
import pandas as pd
from datetime import datetime

df_compras = pd.read_csv('dados_input 1.csv',
                         infer_datetime_format=True,
                         parse_dates=['DiaCompra'])
df_compras.head(20)

def recencia_class(x, r, q_dict):
    """Classifica como melhor o menor quartil 
       x = valor da linha,
       r = recencia,
       q_dict = quartil dicionario   
    """
    if x <= q_dict[r][0.25]:
        return 'A'
    elif x <= q_dict[r][0.50]:
        return 'B'
    elif x <= q_dict[r][0.75]:
        return 'C'
    else:
        return 'D'


def freq_val_class(x, fv, q_dict):
    """Classifica como melhor o maior quartil 
       x = valor da linha,
       fv = frequencia ou valor,
       q_dict = quartil dicionario   
    """
    if x <= q_dict[fv][0.25]:
        return 'D'
    elif x <= q_dict[fv][0.50]:
        return 'C'
    elif x <= q_dict[fv][0.75]:
        return 'B'
    else:
        return 'A'
    

    
#group by customers and check last date of purshace
df_recencia = df_compras.groupby(by='ID_cliente',
                                 as_index=False)['DiaCompra'].max()
df_recencia.columns = ['ID_cliente', 'DiaUltimaCompra']

print(df_recencia.head())

df_recencia['Recencia'] = df_recencia['DiaUltimaCompra'].apply(
    lambda x: (dia_atual - x).days)


print(df_recencia.head())

df_recencia.drop('DiaUltimaCompra', axis=1, inplace=True)


df_frequencia = df_compras[['ID_cliente', 'CodigoCompra'
                            ]].groupby('ID_cliente').count().reset_index()
df_frequencia.columns = ['ID_cliente', 'Frequencia']

print(df_frequencia.head())


df_valor = df_compras[['ID_cliente', 'ValorTotal'
                       ]].groupby('ID_cliente').sum().reset_index()
df_valor.columns = ['ID_cliente', 'Valor']
print(df_valor.head())

df_RF = df_recencia.merge(df_frequencia, on='ID_cliente')
print(df_RF.head())

df_RFV = df_RF.merge(df_valor, on='ID_cliente')
df_RFV.set_index('ID_cliente', inplace=True)
print(df_RFV.head())

quartis = df_RFV.quantile(q=[0.25, 0.5, 0.75])
print(quartis())

df_RFV['R_quartil'] = df_RFV['Recencia'].apply(recencia_class,
                                                args=('Recencia', quartis))
df_RFV['F_quartil'] = df_RFV['Frequencia'].apply(freq_val_class,
                                                  args=('Frequencia', quartis))
df_RFV['V_quartil'] = df_RFV['Valor'].apply(freq_val_class,
                                             args=('Valor', quartis))

print(df_RFV.head())

df_RFV['RFV_Score'] = (df_RFV.R_quartil + df_RFV.F_quartil +
                       df_RFV.V_quartil)
print(df_RFV.head())

df_RFV['RFV_Score'].value_counts()

print(quartis())

df_RFV[df_RFV['RFV_Score'] == 'AAA'].sort_values('Valor',
                                                 ascending=False).head(10)

dict_acoes = {
    'AAA':
    'Enviar cupons de desconto, Pedir para indicar nosso produto pra algum amigo, Ao lançar um novo produto enviar amostras grátis pra esses.',
    'DDD':
    'Churn! clientes que gastaram bem pouco e fizeram poucas compras, fazer nada',
    'DAA':
    'Churn! clientes que gastaram bastante e fizeram muitas compras, enviar cupons de desconto para tentar recuperar',
    'CAA':
    'Churn! clientes que gastaram bastante e fizeram muitas compras, enviar cupons de desconto para tentar recuperar'
}

df_RFV['acoes de marketing/crm'] = df_RFV['RFV_Score'].map(dict_acoes)

print(df_RFV.head())

df_RFV.to_excel('RFV2.xlsx')

/var/folders/d9/2h9mjnd909535nv40lk168d00000gn/T/ipykernel_6784/2538492822.py:5: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_compras = pd.read_csv('dados_input 1.csv',

   ID_cliente DiaUltimaCompra
0       12747      2021-12-07
1       12748      2021-12-09
2       12749      2021-12-06
3       12820      2021-12-06
4       12821      2021-05-09
   ID_cliente DiaUltimaCompra  Recencia
0       12747      2021-12-07         2
1       12748      2021-12-09         0
2       12749      2021-12-06         3
3       12820      2021-12-06         3
4       12821      2021-05-09       214
   ID_cliente  Frequencia
0       12747          11
1       12748         178
2       12749           5
3       12820           4
4       12821           1
   ID_cliente     Valor
0       12747   4196.01
1       12748  31533.04
2       12749   4090.88
3       12820    942.34
4       12821     92.72
   ID_cliente  Recencia  Frequencia
0       12747         2          11
1       12748         0         178
2       12749         3           5
3       12820         3           4
4       12821       214           1
            Recencia  Frequencia     Valor
ID_cliente
12747              2          11   4196.01
12748              0         178  31533.04
12749              3           5   4090.88
12820              3           4    942.34
12821            214           1     92.72

TypeError: 'DataFrame' object is not callable

In [34]:
import numpy as np
import pandas as pd
from datetime import datetime

# Carregar dados
df_compras = pd.read_csv('dados_input 1.csv', infer_datetime_format=True, parse_dates=['DiaCompra'])
df_compras.head(20)

# Definir funções de classificação
def recencia_class(x, r, q_dict):
    """Classifica como melhor o menor quartil 
       x = valor da linha,
       r = recencia,
       q_dict = quartil dicionario   
    """
    if x <= q_dict[r][0.25]:
        return 'A'
    elif x <= q_dict[r][0.50]:
        return 'B'
    elif x <= q_dict[r][0.75]:
        return 'C'
    else:
        return 'D'


def freq_val_class(x, fv, q_dict):
    """Classifica como melhor o maior quartil 
       x = valor da linha,
       fv = frequencia ou valor,
       q_dict = quartil dicionario   
    """
    if x <= q_dict[fv][0.25]:
        return 'D'
    elif x <= q_dict[fv][0.50]:
        return 'C'
    elif x <= q_dict[fv][0.75]:
        return 'B'
    else:
        return 'A'

# Definir a data atual
dia_atual = datetime.now()

# Agrupar por clientes e verificar a última data de compra
df_recencia = df_compras.groupby(by='ID_cliente', as_index=False)['DiaCompra'].max()
df_recencia.columns = ['ID_cliente', 'DiaUltimaCompra']

print(df_recencia.head())

df_recencia['Recencia'] = df_recencia['DiaUltimaCompra'].apply(lambda x: (dia_atual - x).days)

print(df_recencia.head())

df_recencia.drop('DiaUltimaCompra', axis=1, inplace=True)

# Calcular frequência
df_frequencia = df_compras[['ID_cliente', 'CodigoCompra']].groupby('ID_cliente').count().reset_index()
df_frequencia.columns = ['ID_cliente', 'Frequencia']

print(df_frequencia.head())

# Calcular valor
df_valor = df_compras[['ID_cliente', 'ValorTotal']].groupby('ID_cliente').sum().reset_index()
df_valor.columns = ['ID_cliente', 'Valor']

print(df_valor.head())

# Merge dos dados
df_RF = df_recencia.merge(df_frequencia, on='ID_cliente')
print(df_RF.head())

df_RFV = df_RF.merge(df_valor, on='ID_cliente')
df_RFV.set_index('ID_cliente', inplace=True)
print(df_RFV.head())

# Calcular quartis
quartis = df_RFV.quantile(q=[0.25, 0.5, 0.75])
print(quartis)

# Classificar recência, frequência e valor
df_RFV['R_quartil'] = df_RFV['Recencia'].apply(recencia_class, args=('Recencia', quartis))
df_RFV['F_quartil'] = df_RFV['Frequencia'].apply(freq_val_class, args=('Frequencia', quartis))
df_RFV['V_quartil'] = df_RFV['Valor'].apply(freq_val_class, args=('Valor', quartis))

print(df_RFV.head())

# Calcular score RFV
df_RFV['RFV_Score'] = df_RFV.R_quartil + df_RFV.F_quartil + df_RFV.V_quartil
print(df_RFV.head())

df_RFV['RFV_Score'].value_counts()

print(quartis)

# Filtrar clientes AAA
df_RFV[df_RFV['RFV_Score'] == 'AAA'].sort_values('Valor', ascending=False).head(10)

# Definir ações de marketing
dict_acoes = {
    'AAA': 'Enviar cupons de desconto, Pedir para indicar nosso produto pra algum amigo, Ao lançar um novo produto enviar amostras grátis pra esses.',
    'DDD': 'Churn! clientes que gastaram bem pouco e fizeram poucas compras, fazer nada',
    'DAA': 'Churn! clientes que gastaram bastante e fizeram muitas compras, enviar cupons de desconto para tentar recuperar',
    'CAA': 'Churn! clientes que gastaram bastante e fizeram muitas compras, enviar cupons de desconto para tentar recuperar'
}

df_RFV['acoes de marketing/crm'] = df_RFV['RFV_Score'].map(dict_acoes)

print(df_RFV.head())

# Exportar para Excel
df_RFV.to_excel('RFV2.xlsx')

/var/folders/d9/2h9mjnd909535nv40lk168d00000gn/T/ipykernel_6784/128167435.py:6: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_compras = pd.read_csv('dados_input 1.csv', infer_datetime_format=True, parse_dates=['DiaCompra'])

   ID_cliente DiaUltimaCompra
0       12747      2021-12-07
1       12748      2021-12-09
2       12749      2021-12-06
3       12820      2021-12-06
4       12821      2021-05-09
   ID_cliente DiaUltimaCompra  Recencia
0       12747      2021-12-07       911
1       12748      2021-12-09       909
2       12749      2021-12-06       912
3       12820      2021-12-06       912
4       12821      2021-05-09      1123
   ID_cliente  Frequencia
0       12747          11
1       12748         178
2       12749           5
3       12820           4
4       12821           1
   ID_cliente     Valor
0       12747   4196.01
1       12748  31533.04
2       12749   4090.88
3       12820    942.34
4       12821     92.72
   ID_cliente  Recencia  Frequencia
0       12747       911          11
1       12748       909         178
2       12749       912           5
3       12820       912           4
4       12821      1123           1
            Recencia  Frequencia     Valor
ID_cliente
12747            911          11   4196.01
12748            909         178  31533.04
12749            912           5   4090.88
12820            912           4    942.34
12821           1123           1     92.72
      Recencia  Frequencia     Valor
0.25     926.0         1.0   299.705
0.50     959.0         2.0   643.555
0.75    1052.0         5.0  1533.600
            Recencia  Frequencia     Valor R_quartil F_quartil V_quartil
ID_cliente
12747            911          11   4196.01         A         A         A
12748            909         178  31533.04         A         A         A
12749            912           5   4090.88         A         B         A
12820            912           4    942.34         A         B         B
12821           1123           1     92.72         D         D         D
            Recencia  Frequencia     Valor R_quartil F_quartil V_quartil  \
ID_cliente
12747            911          11   4196.01         A         A         A
12748            909         178  31533.04         A         A         A
12749            912           5   4090.88         A         B         A
12820            912           4    942.34         A         B         B
12821           1123           1     92.72         D         D         D

           RFV_Score
ID_cliente
12747            AAA
12748            AAA
12749            ABA
12820            ABB
12821            DDD
      Recencia  Frequencia     Valor
0.25     926.0         1.0   299.705
0.50     959.0         2.0   643.555
0.75    1052.0         5.0  1533.600
            Recencia  Frequencia     Valor R_quartil F_quartil V_quartil  \
ID_cliente
12747            911          11   4196.01         A         A         A
12748            909         178  31533.04         A         A         A
12749            912           5   4090.88         A         B         A
12820            912           4    942.34         A         B         B
12821           1123           1     92.72         D         D         D

           RFV_Score                             acoes de marketing/crm
ID_cliente
12747            AAA  Enviar cupons de desconto, Pedir para indicar ...
12748            AAA  Enviar cupons de desconto, Pedir para indicar ...
12749            ABA                                                NaN
12820            ABB                                                NaN
12821            DDD  Churn! clientes que gastaram bem pouco e fizer...

# RFV

**RFV** significa recência, frequência, valor e é utilizado para segmentação de clientes baseado no comportamento de compras dos clientes e agrupa eles em clusters parecidos. Utilizando esse tipo de agrupamento podemos realizar ações de marketing e CRM melhores direcionadas, ajudando assim na personalização do conteúdo e até a retenção de clientes.

Para cada cliente é preciso calcular cada uma das componentes abaixo:

- Recência (R): Quantidade de dias desde a última compra.
- Frequência (F): Quantidade total de compras no período.
- Valor (V): Total de dinheiro gasto nas compras do período.

E é isso que iremos fazer abaixo.

In [35]:
df_compras = pd.read_csv('dados_input 1.csv',
                         infer_datetime_format=True,
                         parse_dates=['DiaCompra'])
df_compras.head(20)

/var/folders/d9/2h9mjnd909535nv40lk168d00000gn/T/ipykernel_6784/2288821351.py:1: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_compras = pd.read_csv('dados_input 1.csv',

    ID_cliente  CodigoCompra  DiaCompra  ValorTotal
0        12747        537215 2020-12-05      358.56
1        12747        538537 2020-12-13      347.71
2        12747        541677 2021-01-20      303.04
3        12747        545321 2021-03-01      310.78
4        12747        551992 2021-05-05      442.96
5        12747        554549 2021-05-25      328.35
6        12747        558265 2021-06-28      376.30
7        12747        563949 2021-08-22      301.70
8        12747        569397 2021-10-04      675.38
9        12747        577104 2021-11-17      312.73
10       12747        581163 2021-12-07      438.50
11       12748        537136 2020-12-05      273.76
12       12748        537140 2020-12-05       70.42
13       12748        537142 2020-12-05       41.45
14       12748        537155 2020-12-05       75.64
15       12748        537225 2020-12-05      496.48
16       12748        537354 2020-12-06      133.07
17       12748        537429 2020-12-06       82.12
18       12748        537624 2020-12-07      306.84
19       12748        537800 2020-12-08       69.79

In [36]:
df_compras.shape

(16127, 4)

In [37]:
df_compras.dtypes

ID_cliente               int64
CodigoCompra             int64
DiaCompra       datetime64[ns]
ValorTotal             float64
dtype: object

In [38]:
df_compras['DiaCompra'].min()

Timestamp('2020-12-01 00:00:00')

In [39]:
df_compras['DiaCompra'].max()

Timestamp('2021-12-09 00:00:00')

In [40]:
dia_atual = datetime(2021, 12, 9)
print(dia_atual)

2021-12-09 00:00:00

## Recência

**Quantos dias faz que o cliente fez a sua última compra?**

In [41]:
#group by customers and check last date of purshace
df_recencia = df_compras.groupby(by='ID_cliente',
                                 as_index=False)['DiaCompra'].max()
df_recencia.columns = ['ID_cliente', 'DiaUltimaCompra']
df_recencia.head()

   ID_cliente DiaUltimaCompra
0       12747      2021-12-07
1       12748      2021-12-09
2       12749      2021-12-06
3       12820      2021-12-06
4       12821      2021-05-09

In [42]:
df_recencia['Recencia'] = df_recencia['DiaUltimaCompra'].apply(
    lambda x: (dia_atual - x).days)

In [43]:
df_compras['DiaCompra'].max()

Timestamp('2021-12-09 00:00:00')

In [44]:
dia_atual = datetime(2021,12,9)
print(dia_atual)

2021-12-09 00:00:00

In [45]:
df_recencia.head()

   ID_cliente DiaUltimaCompra  Recencia
0       12747      2021-12-07         2
1       12748      2021-12-09         0
2       12749      2021-12-06         3
3       12820      2021-12-06         3
4       12821      2021-05-09       214

In [46]:
df_recencia.drop('DiaUltimaCompra', axis=1, inplace=True)

## Frequência

**Quantas vezes cada cliente comprou com a gente?**

In [47]:
df_compras.head(15)

    ID_cliente  CodigoCompra  DiaCompra  ValorTotal
0        12747        537215 2020-12-05      358.56
1        12747        538537 2020-12-13      347.71
2        12747        541677 2021-01-20      303.04
3        12747        545321 2021-03-01      310.78
4        12747        551992 2021-05-05      442.96
5        12747        554549 2021-05-25      328.35
6        12747        558265 2021-06-28      376.30
7        12747        563949 2021-08-22      301.70
8        12747        569397 2021-10-04      675.38
9        12747        577104 2021-11-17      312.73
10       12747        581163 2021-12-07      438.50
11       12748        537136 2020-12-05      273.76
12       12748        537140 2020-12-05       70.42
13       12748        537142 2020-12-05       41.45
14       12748        537155 2020-12-05       75.64

In [48]:
df_frequencia = df_compras[['ID_cliente', 'CodigoCompra'
                            ]].groupby('ID_cliente').count().reset_index()
df_frequencia.columns = ['ID_cliente', 'Frequencia']
df_frequencia.head()

   ID_cliente  Frequencia
0       12747          11
1       12748         178
2       12749           5
3       12820           4
4       12821           1

## Valor

**Quanto que cada cliente gastou no periodo?**

In [49]:
df_valor = df_compras[['ID_cliente', 'ValorTotal'
                       ]].groupby('ID_cliente').sum().reset_index()
df_valor.columns = ['ID_cliente', 'Valor']
df_valor.head()

   ID_cliente     Valor
0       12747   4196.01
1       12748  31533.04
2       12749   4090.88
3       12820    942.34
4       12821     92.72

## Criando a tabela RFV

In [50]:
df_RF = df_recencia.merge(df_frequencia, on='ID_cliente')
df_RF.head()

   ID_cliente  Recencia  Frequencia
0       12747         2          11
1       12748         0         178
2       12749         3           5
3       12820         3           4
4       12821       214           1

In [51]:
df_RFV = df_RF.merge(df_valor, on='ID_cliente')
df_RFV.set_index('ID_cliente', inplace=True)
df_RFV.head()

            Recencia  Frequencia     Valor
ID_cliente
12747              2          11   4196.01
12748              0         178  31533.04
12749              3           5   4090.88
12820              3           4    942.34
12821            214           1     92.72

## Segmentação de clientes utilizando o RFV

Um jeito de segmentar os clientes é criando quartis para cada componente do RFV, sendo que o melhor quartil é chamado de 'A', o segundo melhor quartil de 'B', o terceiro melhor de 'C' e o pior de 'D'. O melhor e o pior depende da componente. Po exemplo, quanto menor a recência melhor é o cliente (pois ele comprou com a gente tem pouco tempo) logo o menor quartil seria classificado como 'A', já pra componente frêquencia a lógica se inverte, ou seja, quanto maior a frêquencia do cliente comprar com a gente, melhor ele/a é, logo, o maior quartil recebe a letra 'A'.

Se a gente tiver interessado em mais ou menos classes, basta a gente aumentar ou diminuir o número de quantils pra cada componente.

### Quartis para o RFV

In [52]:
quartis = df_RFV.quantile(q=[0.25, 0.5, 0.75])
quartis

      Recencia  Frequencia     Valor
0.25      17.0         1.0   299.705
0.50      50.0         2.0   643.555
0.75     143.0         5.0  1533.600

In [53]:
quartis.to_dict()

{'Recencia': {0.25: 17.0, 0.5: 50.0, 0.75: 143.0},
 'Frequencia': {0.25: 1.0, 0.5: 2.0, 0.75: 5.0},
 'Valor': {0.25: 299.70500000000004, 0.5: 643.555, 0.75: 1533.6}}

### Criando os segmentos

In [54]:
def recencia_class(x, r, q_dict):
    """Classifica como melhor o menor quartil 
       x = valor da linha,
       r = recencia,
       q_dict = quartil dicionario   
    """
    if x <= q_dict[r][0.25]:
        return 'A'
    elif x <= q_dict[r][0.50]:
        return 'B'
    elif x <= q_dict[r][0.75]:
        return 'C'
    else:
        return 'D'


def freq_val_class(x, fv, q_dict):
    """Classifica como melhor o maior quartil 
       x = valor da linha,
       fv = frequencia ou valor,
       q_dict = quartil dicionario   
    """
    if x <= q_dict[fv][0.25]:
        return 'D'
    elif x <= q_dict[fv][0.50]:
        return 'C'
    elif x <= q_dict[fv][0.75]:
        return 'B'
    else:
        return 'A'

df_RFV['R_quartil'] = df_RFV['Recencia'].apply(recencia_class,
                                                args=('Recencia', quartis))
df_RFV['F_quartil'] = df_RFV['Frequencia'].apply(freq_val_class,
                                                  args=('Frequencia', quartis))
df_RFV['V_quartil'] = df_RFV['Valor'].apply(freq_val_class,
                                             args=('Valor', quartis))

df_RFV.head()

            Recencia  Frequencia     Valor R_quartil F_quartil V_quartil
ID_cliente
12747              2          11   4196.01         A         A         A
12748              0         178  31533.04         A         A         A
12749              3           5   4090.88         A         B         A
12820              3           4    942.34         A         B         B
12821            214           1     92.72         D         D         D

In [55]:
df_RFV['RFV_Score'] = (df_RFV.R_quartil + df_RFV.F_quartil +
                       df_RFV.V_quartil)
df_RFV.head()

df_RFV['RFV_Score'].value_counts()

quartis

df_RFV[df_RFV['RFV_Score'] == 'AAA'].sort_values('Valor',
                                                 ascending=False).head(10)

,Recencia,Frequencia,Valor,R_quartil,F_quartil,V_quartil,RFV_Score
ID_cliente,,,,,,,
15311,0,87,49024.04,A,A,A,AAA
13089,2,93,48391.47,A,A,A,AAA
17841,1,115,40940.46,A,A,A,AAA
13694,3,40,37030.67,A,A,A,AAA
16013,3,45,32734.40,A,A,A,AAA
12748,0,178,31533.04,A,A,A,AAA
13798,1,55,31015.77,A,A,A,AAA
16422,17,49,30033.40,A,A,A,AAA
13408,1,62,28117.04,A,A,A,AAA
17949,1,39,25524.39,A,A,A,AAA

### Ações de marketing/CRM

In [56]:
dict_acoes = {
    'AAA':
    'Enviar cupons de desconto, Pedir para indicar nosso produto pra algum amigo, Ao lançar um novo produto enviar amostras grátis pra esses.',
    'DDD':
    'Churn! clientes que gastaram bem pouco e fizeram poucas compras, fazer nada',
    'DAA':
    'Churn! clientes que gastaram bastante e fizeram muitas compras, enviar cupons de desconto para tentar recuperar',
    'CAA':
    'Churn! clientes que gastaram bastante e fizeram muitas compras, enviar cupons de desconto para tentar recuperar'
}

df_RFV['acoes de marketing/crm'] = df_RFV['RFV_Score'].map(dict_acoes)

df_RFV.head()

df_RFV.to_excel('RFV.xlsx')

In [57]:
df_RFV.head()

,Recencia,Frequencia,Valor,R_quartil,F_quartil,V_quartil,RFV_Score,acoes de marketing/crm
ID_cliente,,,,,,,,
12747,2,11,4196.01,A,A,A,AAA,"Enviar cupons de desconto, Pedir para indicar ..."
12748,0,178,31533.04,A,A,A,AAA,"Enviar cupons de desconto, Pedir para indicar ..."
12749,3,5,4090.88,A,B,A,ABA,NaN
12820,3,4,942.34,A,B,B,ABB,NaN
12821,214,1,92.72,D,D,D,DDD,Churn! clientes que gastaram bem pouco e fizer...

In [ ]:
# Imports
import pandas            as pd
import streamlit         as st
import numpy             as np

from datetime            import datetime
from PIL                 import Image
from io                  import BytesIO

@st.cache_data
def convert_df(df):
    return df.to_csv(index=False).encode('utf-8')

# Função para converter o df para excel
@st.cache_data
def to_excel(df):
    output = BytesIO()
    writer = pd.ExcelWriter(output, engine='xlsxwriter')
    df.to_excel(writer, index=False, sheet_name='Sheet1')
    writer.close()
    processed_data = output.getvalue()
    return processed_data


### Criando os segmentos
def recencia_class(x, r, q_dict):
    """Classifica como melhor o menor quartil 
       x = valor da linha,
       r = recencia,
       q_dict = quartil dicionario   
    """
    if x <= q_dict[r][0.25]:
        return 'A'
    elif x <= q_dict[r][0.50]:
        return 'B'
    elif x <= q_dict[r][0.75]:
        return 'C'
    else:
        return 'D'

def freq_val_class(x, fv, q_dict):
    """Classifica como melhor o maior quartil 
       x = valor da linha,
       fv = frequencia ou valor,
       q_dict = quartil dicionario   
    """
    if x <= q_dict[fv][0.25]:
        return 'D'
    elif x <= q_dict[fv][0.50]:
        return 'C'
    elif x <= q_dict[fv][0.75]:
        return 'B'
    else:
        return 'A'

# Função principal da aplicação
def main():
    # Configuração inicial da página da aplicação
    st.set_page_config(
        page_title="EBAC | Módulo 31 | Streamlit V | Exercício 1",
        
        initial_sidebar_state="expanded",
    )

    # TÍTULO
    st.markdown(
        """
    <div style="text-align:center">
        
    <!-- # **Profissão: Cientista de Dados** -->
    ### **Módulo 31** | Streamlit V | Exercício 1

    ---
    """,
        unsafe_allow_html=True,
    )

    # Título principal da aplicação
    st.write("""# RFV

    RFV significa recência, frequência, valor e é utilizado para segmentação de clientes baseado no comportamento 
    de compras dos clientes e agrupa eles em clusters parecidos. Utilizando esse tipo de agrupamento podemos realizar 
    ações de marketing e CRM melhores direcionadas, ajudando assim na personalização do conteúdo e até a retenção de clientes.

    Para cada cliente é preciso calcular cada uma das componentes abaixo:

    - Recência (R): Quantidade de dias desde a última compra.
    - Frequência (F): Quantidade total de compras no período.
    - Valor (V): Total de dinheiro gasto nas compras do período.

    E é isso que iremos fazer abaixo.
    """)
    st.markdown("---")
    
    # Apresenta a imagem na barra lateral da aplicação
    st.sidebar.image('ebac_cabecalho.png')

    # Botão para carregar arquivo na aplicação
    st.sidebar.write("## Suba o arquivo")
    data_file_1 = st.sidebar.file_uploader("Bank marketing data", type = ['csv','xlsx'])

    if data_file_1 is None:
        if st.sidebar.button('Carregar Arquivo Demonstrativo', 
                            help='./input/dados.csv', 
                            use_container_width=True, 
                            key='uploadDemoButton', 
                            disabled=st.session_state.get('uploadDemoButton', False)):
            data_file_1 = './input/dados.csv'
            st.sidebar.button('Limpar e Reiniciar', use_container_width=True)


    # Verifica se há conteúdo carregado na aplicação
    if (data_file_1 is not None):
        df_compras = pd.read_csv(data_file_1, infer_datetime_format=True, parse_dates=['DiaCompra'])

        st.write('## Recência (R)')

        
        dia_atual = df_compras['DiaCompra'].max()
        st.write('Dia máximo na base de dados: ', dia_atual)

        st.write('Quantos dias faz que o cliente fez a sua última compra?')

        df_recencia = df_compras.groupby(by='ID_cliente', as_index=False)['DiaCompra'].max()
        df_recencia.columns = ['ID_cliente','DiaUltimaCompra']
        df_recencia['Recencia'] = df_recencia['DiaUltimaCompra'].apply(lambda x: (dia_atual - x).days)
        st.write(df_recencia.head())

        df_recencia.drop('DiaUltimaCompra', axis=1, inplace=True)

        st.write('## Frequência (F)')
        st.write('Quantas vezes cada cliente comprou com a gente?')
        df_frequencia = df_compras[['ID_cliente','CodigoCompra']].groupby('ID_cliente').count().reset_index()
        df_frequencia.columns = ['ID_cliente','Frequencia']
        st.write(df_frequencia.head())

        st.write('## Valor (V)')
        st.write('Quanto que cada cliente gastou no periodo?')
        df_valor = df_compras[['ID_cliente','ValorTotal']].groupby('ID_cliente').sum().reset_index()
        df_valor.columns = ['ID_cliente','Valor']
        st.write(df_valor.head())
        

        st.write('## Tabela RFV final')
        df_RF = df_recencia.merge(df_frequencia, on='ID_cliente')
        df_RFV = df_RF.merge(df_valor, on='ID_cliente')
        df_RFV.set_index('ID_cliente', inplace=True)
        st.write(df_RFV.head())

        st.write('## Segmentação utilizando o RFV')
        st.write("Um jeito de segmentar os clientes é criando quartis para cada componente do RFV, sendo que o melhor quartil é chamado de 'A', o segundo melhor quartil de 'B', o terceiro melhor de 'C' e o pior de 'D'. O melhor e o pior depende da componente. Po exemplo, quanto menor a recência melhor é o cliente (pois ele comprou com a gente tem pouco tempo) logo o menor quartil seria classificado como 'A', já pra componente frêquencia a lógica se inverte, ou seja, quanto maior a frêquencia do cliente comprar com a gente, melhor ele/a é, logo, o maior quartil recebe a letra 'A'.")
        st.write('Se a gente tiver interessado em mais ou menos classes, basta a gente aumentar ou diminuir o número de quantils pra cada componente.')

        st.write('Quartis para o RFV')
        quartis = df_RFV.quantile(q=[0.25,0.5,0.75])
        st.write(quartis)

        st.write('Tabela após a criação dos grupos')
        df_RFV['R_quartil'] = df_RFV['Recencia'].apply(recencia_class,
                                                        args=('Recencia', quartis))
        df_RFV['F_quartil'] = df_RFV['Frequencia'].apply(freq_val_class,
                                                        args=('Frequencia', quartis))
        df_RFV['V_quartil'] = df_RFV['Valor'].apply(freq_val_class,
                                                    args=('Valor', quartis))
        df_RFV['RFV_Score'] = (df_RFV.R_quartil 
                            + df_RFV.F_quartil 
                            + df_RFV.V_quartil)
        st.write(df_RFV.head())

        st.write('Quantidade de clientes por grupos')
        st.write(df_RFV['RFV_Score'].value_counts())

        st.write('#### Clientes com menor recência, maior frequência e maior valor gasto')
        st.write(df_RFV[df_RFV['RFV_Score']=='AAA'].sort_values('Valor', ascending=False).head(10))

        st.write('### Ações de marketing/CRM')

        dict_acoes = {'AAA': 'Enviar cupons de desconto, Pedir para indicar nosso produto pra algum amigo, Ao lançar um novo produto enviar amostras grátis pra esses.',
        'DDD': 'Churn! clientes que gastaram bem pouco e fizeram poucas compras, fazer nada',
        'DAA': 'Churn! clientes que gastaram bastante e fizeram muitas compras, enviar cupons de desconto para tentar recuperar',
        'CAA': 'Churn! clientes que gastaram bastante e fizeram muitas compras, enviar cupons de desconto para tentar recuperar'
        }

        df_RFV['acoes de marketing/crm'] = df_RFV['RFV_Score'].map(dict_acoes)
        st.write(df_RFV.head())


        # df_RFV.to_excel('./auxiliar/output/RFV_.xlsx')
        df_xlsx = to_excel(df_RFV)
        st.download_button(label='📥 Download',
                           data=df_xlsx,
                           file_name= 'RFV_.xlsx')

        st.write('Quantidade de clientes por tipo de ação')
        st.write(df_RFV['acoes de marketing/crm'].value_counts(dropna=False))

if __name__ == '__main__':
	main()